@use 'hero.scss';
@use 'variaveis.scss';
@use 'shows.scss';
@use 'plans.scss';


@font-face {
    font-family: Avanir;
    src: url(/assets/font/Avenir-Regular.woff2);
    font-weight: 400;
}

@font-face {
    font-family: Avanir;
    src: url(/assets/font/Avenir-Bold.woff2);
    font-weight: 700;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Avanir, sans-serif;
}




body{
    background-color: variaveis.$corDeFundo;
    
}

@mixin text ($fontSize: 16px){
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    color: variaveis.$cortTextoPricipal;
}

@mixin title($fontSize: 40px){
    @include text($fontSize);
    color: variaveis.$cortTextoSecundario;   
}

.text--big{
    @include text(18px);
}
.text{
    @include text;
}

.text--small{
    @include text(12px);
}

.link-text{
    @include text (18px);
    color: variaveis.$cortTextoSecundario;
    text-decoration: underline;
}

.title--big{
    @include title(44px) 
}

.title{
    @include title;
}

.title--small{
    @include title(28px)
}

//js

.shows__list {
    display: none;
}

.shows__list--is-active {
    display: grid;
}

.shows__tabs__button--is-active {
    border-bottom: 5px solid #f9f9f9;
    font-weight: bold;
}

button{
    display: block;
    width: 100%;
    height: 60px;
    font-size: 18px;
    color: variaveis.$cortTextoSecundario;
    background-color: #6421ff;
    text-transform: uppercase;
    border-radius: 4px;
    margin-top: 2vw;
    margin-bottom: 8px;
}